<div class="container mobileMenu">
    <button class="mobileMenu__close"><svg class="mobileMenu__close_position" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3.37256" width="32" height="4" rx="2" transform="rotate(45 3.37256 0)" fill="#070707"/>
        <rect x="0.543945" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0.543945 22.6289)" fill="#070707"/>
        </svg>
    </button>

    <ul class="mobileMenu__nav">
        <li class="mobileMenu__margin">
            <a href="" class="mobileMenu__link">Home</a>
        </li>
        <li class="mobileMenu__margin">
            <a href="" class="mobileMenu__link mobileMenu__link_modify">My blog</a>
        </li>
        <li class="mobileMenu__margin">
            <button class="mobileMenu__button">Sign in</button>
        </li>
        <li class="mobileMenu__margin">
            <button class="mobileMenu__button">Register</button>
        </li>
    </ul>
</div>