@import "../../components/mixins";
@import "../../components/vars";

.profile {
  padding-top: 40px;
  padding-bottom: 93px;

  &__title {
    font-weight: bold;
    font-size: 47px;
    line-height: 57px;
    
    color: #070707;

    margin-bottom: 40px;
  }

  &__box {
    display: flex;
  }

  &__photo {
    margin-right: 105px;
    @include media_interval($media_mobile, $media_tablet) {
      margin-right: 75px;
      max-width: 314px;
    }
  }
  &__string {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #070707;
    margin-right: 15px;
  }

  &__value {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #070707;
  }

  &__buttonList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__button {
    margin-bottom: 20px;
  }
}
