<header class="container header ">
    <a class="header__link header__link_main" href="/index.html">Home</a>
    <ul class="header__list">
        <li class="header__elem">
            <a href="/pages/myblog/index.html" class="header__link header__item header__link_item">My blog</a>
        </li>
        <li class="header__elem">
            <button class="header__button header__item popupSignIn_js" type="button">Sing in</button>
        </li>
        <li class="header__elem">
            <button class="header__button header__item popupRegister_js" type="button">Register</button>
        </li>
        <li class="header__elem">
            <a href="/pages/profile/index.html" class="header__link header__item header__link_item profileLink_js">My profile</a>
        </li>
    </ul>
    @@include('signInPopup/index.html')
    @@include('registerPopup/index.html')
</header>