<header class="header container">
    <a class="header__link" href="#">Home</a>
    <ul class="header__list">
        <li class="header__item">
            <a href="#" class="header__link header__link_item">My blog</a>
        </li>
        <li class="header__item">
            <button class="header__button">Sing in</button>
        </li>
        <li class="header__item">
            <button class="header__button">Register</button>
        </li>
        <li class="header__item"></li>
    </ul>
</header>