
@import "./header/header.scss";
@import "./footer/footer.scss";
@import"./vars.scss";
@import"./mixins.scss";

@import"./mobileMenu/mobileMenu.scss";

a {
    text-decoration: none;
    cursor: default;
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  body {
      font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    }
  button {
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    border: none;
    background-color: inherit;
    padding: 0;

  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
 
  .container {
      max-width: 1050px;
      margin: 0 auto;

      padding-right: 25px;
      padding-left: 25px;

      @include media_interval($media_mobile, $media_desktop) {
        max-width: 768px;
        margin: 0 auto;
        padding-right: 60px;
        padding-left: 60px;
      }
  }

  .button {
    border:3px solid #070707;
    border-radius: 30px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #070707;

    padding: 10px 19px;
    outline: none;
    transition: background-color 0.5s;

    &:hover, &:focus {
      background-color:  #070707;
      color:#FFFFFF;

    }

    &_black {
      background-color:  #070707;
      color:#FFFFFF;
      padding: 10px 29px;

      &:hover, &:focus {
        background-color:  #FFFFFF;
        color: #070707;
      }
    }
  }





.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 246, 246, 0.99);

  z-index: 5;

  &_open {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 3px solid #070707;
    padding: 40px 40px 50px 40px;

    background-color: #FFFFFF;

    position: relative;
  }
  &__lable {
    width: 100%;
    margin-bottom: 20px;
  }

  &__text {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #070707;
    margin-bottom: 6px;
  }
  &__input {
    border: 3px solid hsl(0, 0%, 90%);
    height: 50px;
    width: 100%;

    outline: none;
    
    &:focus {
      border-color: #070707;
    }

    &:hover {
      border-color: #828282;
    }
  }

  &__button {
    margin-top: 10px;
    
  }
  &__close {
    position: absolute;
    top: 0;
    right: -36px;
    background-color: transparent;
    outline: none;

    &:hover svg rect, &:focus svg rect {
      fill: #070707;
    }
  }
}
.requiared::after {
  content: "*";
  color: red;
}

@import "./signInPopup/singinPopup";
@import "./registerPopup/registerPopup";