<footer class="footer container">
    <h3 class="footer__contacts">Contacts</h3>
    <p class="footer__text">Want to know more or just chat? <br>You are welcome!</p>
    <button class="footer__button button button_black sendMessageButton_js">Send message</button>
    <ul class="footer__socials">
        <li class="footer__social">
            <a href="" class="footer__link button">Instagram</a>
        </li>
        <li class="footer__social">
            <a href="" class="footer__link button">VK</a>
        </li>
        <li class="footer__social">
            <a href="" class="footer__link button">Telegram</a>
        </li>
        <li class="footer__social">
            <a href="" class="footer__link button">Mail</a>
        </li>
        <li class="footer__social">
            <a href="" class="footer__link button">GitHub</a>
        </li>
        <li class="footer__social">
            <a href="" class="footer__link button">Phone</a>
        </li>
    </ul>
    <div class="footer__Boxdisign">
        <p class="footer__designText footer__designText_margin">Design by</p>
        <a  href="" class="footer__designText footer__designLink">DL Academy</a>
    </div>
    <p class="footer__designText">Program code from Antonina</p>
</footer>